* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #efefef;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #55b952;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*
  NAVIGATION
*/
div.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 25px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.topnav p, div.topnav h1, div.topnav h3, div.topnav a, div.topnav form{
  padding-left: 16px;
}

div.topnav form{
  margin-bottom: 16px;
}

/*
  LIKE BUTTON
*/

button.like {
  /*position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  margin: auto;
  width: 90px;
  height: 40px;
  background: white;
  border: 0;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
button.like:hover {
  /*color: #84d9ff;*/
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
button.like:hover span {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
button.like:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
button.like span {
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  border-radius: 100px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
button.like span:hover {
  opacity: 1;
}
button.like span:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

/*
  PROGRESS
*/
.wrap {
  width: 600px;
  margin: 0 auto;
}

.progress-radial {
  /*float: left;*/
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #F3EDE2;
  background-color: #55b952;
}

.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: 18px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
/* line 60, ../scss/global.scss */
.progress-0 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-5 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(108deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(126deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-15 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(144deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-20 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(162deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(180deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-30 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(198deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-35 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(216deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-40 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(234deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-45 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(252deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-50 {
  background-image: linear-gradient(-90deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-55 {
  background-image: linear-gradient(-72deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-60 {
  background-image: linear-gradient(-54deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-65 {
  background-image: linear-gradient(-36deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-70 {
  background-image: linear-gradient(-18deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-75 {
  background-image: linear-gradient(0deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-80 {
  background-image: linear-gradient(18deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-85 {
  background-image: linear-gradient(36deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-95 {
  background-image: linear-gradient(72deg, #ff6347 50%, transparent 50%, transparent), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

/* line 60, ../scss/global.scss */
.progress-100 {
  background-image: linear-gradient(90deg, #55b952 50%, transparent 50%, transparent), linear-gradient(270deg, #55b952 50%, #2f3439 50%, #2f3439);
}