<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>
<body>

<div class="timeline" id="mytimeline">
    <div class="container right">
        <div class="content">
        <h2>29.8.2019</h2>
        <p>Päiväkoti Arla tarvitsee uuden portin.</p>
        <img src="{{ url_for('static', filename='img/20190828_141443_resized.jpg') }}">
        <a href="{{ url_for('static', filename='img/2_ja_3_kerros.pdf') }}" target="_blank">Pohjapiirros</a>
        </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>4.9.2019</h2>
        <p>Tarvikkeet haettu Starkista.</p>
        <a href="{{ url_for('static', filename='img/01_Tarvikkeita_Lasku.pdf') }}" target="_blank">Lasku</a>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>6.9.2019</h2>
        <p>Portti valmis.</p>
        <img src="{{ url_for('static', filename='img/917e2de5-0df5-44a6-96ff-9e9738876455.jpg') }}">
      </div>
    </div>
</div>

</body>