<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>
<body>

{% if current_user.is_authenticated %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
<div class="timeline" id="mytimeline">
    <div class="container right">
        <div class="content">
        <h2>29.8.2019</h2>
        <p>Päiväkoti Arla tarvitsee uuden portin.</p>
        <img src="{{ url_for('static', filename='img/20190828_141443_resized.jpg') }}">
        <a href="{{ url_for('static', filename='img/2_ja_3_kerros.pdf') }}" target="_blank">Pohjapiirros</a>
        <br>
        <a href="/3D/" target="_blank">3D malli</a>
        </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>4.9.2019</h2>
        <p>Tarvikkeet haettu Starkista.</p>
        
        <form method="post" enctype="multipart/form-data">
          <div>
            <label for="image_upload">Lisää kuva...</label>
            <input type="file" id="image_upload" name="image_upload" accept="image/*" capture="camera">
          </div>
          <div class="preview">
            <p>Ei kuvaa lisätty.</p>
          </div>
          <div>
            <button>Lisää</button>
          </div>
        </form>
        
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('static', filename='img/01_Tarvikkeita_Lasku.pdf') }}" target="_blank">Lasku</a>
        {% endif %}
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>6.9.2019</h2>
        <p>Portti valmis.</p>
        <img src="{{ url_for('static', filename='img/917e2de5-0df5-44a6-96ff-9e9738876455.jpg') }}">
      </div>
    </div>
</div>

</body>